#navbar a{
    position: relative;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
}
#navbar a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 10%;
    background: #F472B6;
    transition: 0.4s;
}
#navbar a:hover::after{
    width: 100%;
}
#navbar a.active:after{
    width: 100%;
}
#navbar a:hover{
    color: #F472B6;
}
#navbar a.active{
    color:#F472B6;
}

